<launch>
    <!-- Launch file for ouster OS2-64 LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find robots_localization)/config/ouster64.yaml" />

    <!-- <param name="pcd_path" type="string" value="../FAST_LIO/PCD/scans.pcd" /> -->
    <param name="pcd_path" type="string" value="$(find robots_localization)/map/map" />


    <node pkg="robots_localization" type="robots_localization" name="robots_localization"
        output="screen" />

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
            args="-d $(find robots_localization)/rviz/localization.rviz" />
    </group>

</launch>
